.Content{
    text-align: center;
}

#button{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
    
}

.intro{
    background-image: url(man.jpg);
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 20%;
    border: none;
    padding: auto;
    color: #0D2564;
    padding-left: 20px;
    font-size: 30px;
    
}