#button{
    padding: 15px 25px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 20px;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
 }
 
 
 #content{
    background-image: url("../image/man.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
    gap: 5%;
    padding-bottom: 20%;
    border: none;
    padding: auto;
    color: #0D2564;
    padding-left: 36px;
    font-size: 5px;
   
 }
 .text-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 10px;
    width: 450px;
    
 }
/* 
 @media screen and (min-width: 280px) and (max-width: 768px){
 
 
    #intro{
        background-image: url("../image/man.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 5%;
        gap: 5%;
        padding-bottom: 20%;
        border: none;
        padding: auto;
        color: #0D2564;
        padding-left: 36px;
        font-size: 10px;
      
       
    }
 
    #button{
        padding: 12px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 6px;
        border-radius: 18px;
        color: white;
        background-color: blue;
        border: none;
        cursor: pointer;
    }
   
    .text-container {
        display: flex;
        flex-direction: column;
        font-size: 17px;
        width: 450px;
    
        gap: 10px;
        }
       
        h1 {
        font-size: 60px;
        }
 }
 
 @media screen and (min-width: 280px) and (max-width: 653px){
    #intro{
        background-image: url("../image/man.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 5%;
  
 
  
      
    }
    #button{
        padding: 12px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 15px;
        color: white;
        background-color: blue;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        width: 450px;
    
        gap: 20px;
        }

 }
 @media screen and (min-width: 360px) and (max-width: 640px){
    #intro{
        background-image: url("../image/man.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 5%;
        padding-bottom: 20%;
        border: none;
        padding: auto;
        color: #0D2564;
        padding-left: 10px;
        font-size: 6px;
      
 
 
    }
    .text-container {
        display: flex;
        flex-direction: column;
        font-size: 8px;
        width: 450px;
    
        gap: 20px;
        }
    #button{
        padding: 12px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 15px;
        color: white;
        background-color: blue;
        border: none;
        cursor: pointer;
        margin-top: 10px;

 }
}
 @media screen and (min-width: 820px) and (max-width: 1180px){
 
    #intro{
        background-image: url("../image/man.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 5%;
        padding-bottom: 20%;
        border: none;
        padding: auto;
        color: #0D2564;
        padding-left: 10px;
        font-size: 18px;
      
    }
    #button{
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        border-radius: 15px;
        color: white;
        background-color: blue;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
 
 
    .text-container {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        width: 450px;
    
        gap: 20px;
        }

 
 }
 
 @media screen and (min-width: 768px) and (max-width: 1024px){
 
    .intro{
        background-image: url("../image/man.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 5%;
        padding-bottom: 20%;
        border: none;
        padding: auto;
        color: #0D2564;
        padding-left: 10px;
        font-size: 10px;
       
      
    }
 
 
    #button{
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        border-radius: 15px;
        color: white;
        background-color: blue;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        width: 450px;
    
        gap: 10px;
        }
 
 }
 
 
 @media screen and (min-width:912px) and (max-width: 1368px){
 
    #intro{
        background-image: url("../image/man.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 5%;
        padding-bottom: 20%;
       
        border: none;
        padding: auto;
        color: #0D2564;
        padding-left: 10px;
        font-size: 15px;
        line-height: 20px;
      
    }
    #button{
        padding: 12px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        border-radius: 15px;
        color: white;
        background-color: blue;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        width: 450px;
    
        gap: 10px;
        }
 
 }

 @media screen and (min-width:768px) and (max-width: 1024px){
    #intro{
        background-image: url("../image/man.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 7%;
        padding-bottom: 20%;
       
        border: none;
        padding: auto;
        color: #0D2564;
        padding-left: 10px;
        font-size: 15px;
        line-height: 20px;
      
    }
    #button{
        padding: 12px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        border-radius: 15px;
        color: white;
        background-color: blue;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
 
 
    .text-container {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        width: 450px;
    
        gap: 50px;
        }
 
 }
 @media screen and (min-width:800px) and (max-width: 1280px){
    #intro{
        background-image: url("../image/man.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 7%;
        padding-bottom: 20%;
       
        border: none;
        padding: auto;
        color: #0D2564;
        padding-left: 10px;
        font-size: 15px;
        line-height: 20px;
      
    }
 
    #button{
        padding: 12px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        border-radius: 15px;
        color: white;
        background-color: blue;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
 
 
    .text-container {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        width: 450px;
    
        gap: 50px;
        }
 }

  */





        #button {
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            border-radius: 20px;
            color: white;
            background-color: blue;
            border: none;
            cursor: pointer;
        }

        #intro {
            background-image: url("../image/man.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 5%;
            gap: 5%;
            padding-bottom: 20%;
            border: none;
            padding: auto;
            color: #0D2564;
            padding-left: 36px;
            font-size: 5px;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            font-size: 25px;
            gap: 10px;
            width: 450px;
        }

      
        @media (max-width: 600px) {
           
            #intro {
                padding-top: 10%;
                padding-bottom: 10%;
                font-size: 10px;
            }

            .text-container {
                width: 70%;
            }
        }

        @media (min-width: 601px) and (max-width: 800px) {
            
            #intro {
                padding-top: 8%;
                padding-bottom: 15%;
                font-size: 15px;
            }
        }

        @media (min-width: 801px) and (max-width: 1024px) {
         
            #intro {
                padding-top: 6%;
                padding-bottom: 18%;
                font-size: 10px;
            }
        }

        @media (min-width: 1025px) and (max-width: 1200px) {
           
            #intro {
                padding-top: 4%;
                padding-bottom: 20%;
                font-size: 10px;
            }
        }

        @media (min-width: 1201px) {
           
            #intro {
                padding-top: 3%;
                padding-bottom: 25%;
                font-size: 10px;
            }
        }





        @media screen and (min-width:375px) and (max-width: 667px){
            #intro {
                padding-top: 10%;
                padding-bottom: 10%;
                font-size: 5px;
            }

            .text-container {
                width: 100%;
            }

        }
