.about {
  text-align: center;
  margin-top: 7%;
  color: #0d2564;
  font-size: 24px;
}

.line {
  width: 860px;
  margin-left: 28%;
  height: 10px;
  margin-top: -20px;
}
#our {
  padding-top: -16px;
}
.teamtext {
  background-color: #0d2564;
  color: rgb(255, 240, 245);
  padding: 30px 30px;
  border-radius: 10px;
  width: 45%;
  font-size: 20px;
  /* margin-left: -10%; */
}
.us {
  font-size: 32px;
  margin-left: -240px;
}
.missions {
  background-color: #0d2564;
  color: rgb(255, 240, 245);
  padding: 30px 30px;
  border-radius: 10px;
  width: 45%;
  /* height: 50px; */
  font-size: 20px;
  margin-top: 1px;
  /* margin-left: -0%; */
}
.aboutus {
  text-align: center;
  /* margin-left: 20%; */
  font-size: 32px;
  /* margin-top: 30px; */
}
.container {
  display: flex;
  gap: 25px;
  margin-top: 4%;
  margin-left:  3%;
  margin-bottom: 50px;
}

@media (max-width: 480px) {
  .about {
    text-align: center;
    margin-top: 5%;
    color: #0d2564;
    font-size: 20px;
  }
  .line {
    width: 200px;
    margin-left: 25%;
    height: 10px;
  }
  .teamtext {
    /* display: block; */
    /* height: 80px; */
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 35px 35px;
    border-radius: 10px;
    width: 82%;
    font-size: 12px;
    margin-left: -45px;
  }
  .us {
    font-size: 32px;
    margin-left: -240px;
  }
  .missions {
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 25px 25px;
    border-radius: 10px;
    width: 88%;
    /* height: 70%; */
    font-size: 12px;
    margin-top: -10px;
    margin-left: -46px;
  }
  .aboutus {
    font-size: 20px;
  }
  .container {
    margin-left: 20%;
    display: grid;
    gap: 4%;
    margin-bottom: 50px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .about {
    text-align: center;
    margin-top: 5%;
    color: #0d2564;
    font-size: 25px;
  }
  .line {
    width: 250px;
    margin-left: 25%;
    height: 10px;
  }
  .teamtext {
    /* display: block; */
    /* height: 80px; */
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 35px 35px;
    border-radius: 10px;
    width: 82%;
    font-size: 15px;
    margin-left: -45px;
  }
  .us {
    font-size: 32px;
    margin-left: -240px;
  }
  .missions {
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 25px 25px;
    border-radius: 10px;
    width: 87%;
    /* height: 70%; */
    font-size: 15px;
    margin-top: -10px;
    margin-left: -45px;
  }
  .aboutus {
    font-size: 25px;
  }
  .container {
    margin-left: 18%;
    /* display: block; */
    display: grid;
    gap: 5%;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about {
    text-align: center;
    margin-top: 5%;
    color: #0d2564;
    font-size: 25px;
  }
  .line {
    width: 400px;
    margin-left: 25%;
    height: 10px;
  }
  .teamtext {
    /* display: block; */
    /* height: 80px; */
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 35px 35px;
    border-radius: 10px;
    width: 82%;
    font-size: 25px;
    margin-left: -45px;
  }
  .us {
    font-size: 32px;
    margin-left: -240px;
  }
  .missions {
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 25px 25px;
    border-radius: 10px;
    width: 85%;
    /* height: 70%; */
    font-size: 25px;
    margin-top: -10px;
    margin-left: -45px;
  }
  .aboutus {
    font-size: 30px;
  }
  .container {
    margin-left: 18%;
    /* display: block; */
    display: grid;
    gap: 6%;
    margin-bottom: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about {
    text-align: center;
    margin-top: 5%;
    color: #0d2564;
    font-size: 25px;
  }
  .line {
    width: 300px;
    margin-left: 35%;
    height: 15px;
  }
  .teamtext {
    /* display: block; */
    /* height: 80px; */
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 17px 18px;
    border-radius: 10px;
    width: 82%;
    font-size: 16px;
    margin-left: -49px;
  }
  .us {
    font-size: 32px;
    margin-left: -240px;
  }
  .missions {
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 25px 25px;
    border-radius: 10px;
    width: 80%;
    /* height: 70%; */
    font-size: 16px;
    margin-top: -0px;
    margin-right: 10px;
  }
  .aboutus {
    font-size: 24px;
  }
  .container {
    margin-left: 13%;
    margin-right: 8%;
    /* display: block; */
    display: flex;
    gap: 2%;
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .about {
    text-align: center;
    margin-top: 5%;
    color: #0d2564;
    font-size: 24px;
  }
  .line {
    width: 540px;
    margin-left: 27%;
    height: 10px;
  }
  #our {
    padding-top: -16px;
  }
  .teamtext {
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 35px 35px;
    border-radius: 10px;
    width: 40%;
    font-size: 20px;
    /* margin-left: 20%; */
  }
  .us {
    font-size: 32px;
    margin-left: -240px;
  }
  .missions {
    background-color: #0d2564;
    color: rgb(255, 240, 245);
    padding: 35px 35px;
    border-radius: 10px;
    width: 40%;
    /* height: 50px; */
    font-size: 20px;
    margin-top: 1px;
    /* margin-left: -70%; */
  }
  .aboutus {
    text-align: center;
    /* margin-left: 20%; */
    font-size: 32px;
    /* margin-top: 30px; */
  }
  .container {
    display: flex;
    gap: 15px;
    margin-top: 4%;
    margin-left: 7%;
    margin-bottom: 50px;
  }
}
