.product-text {
    padding-bottom: 5%;
    font-size: 30px;
    margin-right: -290px;
  }
  .product { 
  display: flex;
   background-color: #BFBEEF;
   border-radius: 30px;
   /* margin-left: 378px; */
   width: 1090px;
   margin-top: 10px;
   
  }

#image {
width: 450px;
height: 400px;
padding-top: 10px;
padding-right: 160px;
margin-left: -100px;
   
  }
  #image img {
    max-width: 80%;
  }
  .text {
    font-size: 50px;
    color: #0d2564;
    text-align: center;
    padding-right: 380px;
  }
  p {
    font-size: 50px;
    color: #0d2564;
  
  }
  #google-play-img {
    max-width: 150px;
    margin-right: 100px;
  }
  h2{
    font-size: 20px;
    margin-right: 180px;
  }
  h3{
    text-align: center;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 40px;
  }
 
 
  @media screen  and (min-width:375px) and (max-width:667px){
    .product-text {
      padding-bottom: 5%;
      font-size: 11px;
      margin-left: -70%;
    
    }
    .product { 
    display: flex;
    flex-wrap: wrap;
     background-color: #BFBEEF;
     border-radius: 30px;
   margin-left: 67%;
   /* margin-right: -1017%; */
     width: 374px;
     height: 1009px;
     
     /* margin-top: 10px; */
     
    }
  
  #image {
  width: 500px;
  height: 250px;
  padding-right: 160px;
  margin-left: -70px;
  margin-top: -179px;
     
    }
 
    .text {
      /* font-size: 10px;
      color: #0d2564;
      text-align: center;
      padding-right: 80px; */
    }
    p {
      font-size: 50px;
      color: #0d2564;
    
    }
    #google-play-img {
      max-width: 60px;
      margin-left: -90px;
    }
    h2{
      font-size: 18px;
    margin-left: 20px;
    }
    h3{
      text-align: center;
      margin-left: 90px;
      margin-top: 15px;
      font-size: 30px;
    } 
    
  }
 
  