.product { 
  display: flex;
   background-color: #BFBEEF;
   border-radius: 30px;
   width: 1090px;
   margin: 0 auto;
   gap: 10%;
   margin-top: 2%;
  }


#image {
width: 450px;
height: 400px;
   
  }
  .text {
    font-size: 30px;
    color: #0d2564;
    text-align: center;
  }
  #google-play-img {
    max-width: 150px;
  }
  h2{
    font-size: 20px;
  }
 
  @media screen  and (min-width:280px) and (max-width:480px){
    .product { 
      display: flex;
      flex-direction: column;
       background-color: #BFBEEF;
       border-radius: 30px;
       width: 350px;
       margin: 0 auto;
       margin-top: 2%;
      }
    
    
    #image {
    width: 350px;
    height: 300px;
       
      }
      .text {
        font-size: 20px;
        color: #0d2564;
        text-align: center;
      }
      #google-play-img {
        max-width: 150px;
      }
      h2{
        font-size: 20px;
      }

  }

  @media screen  and (min-width: 490px) and (max-width: 690px){
    .product { 
      display: flex;
       background-color: #BFBEEF;
       border-radius: 30px;
       width: 1090px;
       margin: 0 auto;
       gap: 10%;
       margin-top: 2%;
      }
    
    
    #image {
    width: 450px;
    height: 400px;
       
      }
      .text {
        font-size: 30px;
        color: #0d2564;
        text-align: center;
      }
      #google-play-img {
        max-width: 150px;
      }
      h2{
        font-size: 20px;
      }

  }
  @media screen  and (min-width: 691px) and (max-width: 900px){
   
      .product { 
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
         background-color: #BFBEEF;
         border-radius: 30px;
         width: 550px;
         margin: 0 auto;
         margin-top: 2%;
        }
    
    
    #image {
    width: 450px;
    height: 400px;
       
      }
      .text {
        font-size: 15px;
        color: #0d2564;
        text-align: center;
      }
      #google-play-img {
        max-width: 150px;
      }
      h2{
        font-size: 20px;
      }

  }

  @media screen  and (min-width: 1000px) and (max-width: 1200px){
  
    .product { 
      display: flex;
      flex-direction: row;
      /* flex-wrap: wrap; */
      /* flex-direction: column; */

       background-color: #BFBEEF;
       border-radius: 30px;
       width: 650px;
       margin: 0 auto;
       margin-top: 2%;
      }
    
    
    #image {
    width: 350px;
    height: 400px;
       
      }
      .text {
        font-size: 20px;
        color: #0d2564;
        text-align: center;
      }
      #google-play-img {
        max-width: 150px;
      }
      h2{
        font-size: 20px;
      }

  }
